@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
#app {
  height: inherit;
    width: inherit;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.dark-green {
  color: #325B1C
}

.green-2 {
  color: #7FC79B
}

.dark-grey {
  color: #626262
}

.about {
  max-width: 80%;
}

ul {
  list-style-type: none;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14pt;
}

.lato {
  font-family: "Lato", sans-serif;
}

.bold {
  font-weight: bold;
}

.main-title {
  font-size: 60pt;
}